
html,*,body{
    background: #ffffff;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
  body {
    background-color:#f9f9f9;
  }
}

#header img{
	height: 100px;
}

#header{
    display: flex;
    position: fixed;
    justify-content: space-between;
}

nav {
    margin-top: 10px;
    width: 50%;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    display: flex;
}

.nav-link{
    padding: 2vh 6vw;
    text-decoration: none;
    display: block;
    color: black;
}

.flex-container {
  display: flex;
}

